@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Routing animations */

@keyframes white-wipe {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes cover-left-to-right {
  0% {
    transform: scaleX(0);
  }
  80% {
    transform: scaleX(1); /* overlay w pełni zakryty */
  }
  100% {
    transform: scaleX(1); /* pozostaje zakryty do końca animacji */
  }
}

/* Routing animation */
/*  -------------------------------------------------------------------- */

@keyframes wipeIn {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.white-wipe-in {
  position: fixed;
  inset: 0;
  z-index: 9;
  transform-origin: left;
  background: #fff;
  animation: wipeIn 1.8s ease-in forwards;
}

/*  -------------------------------------------------------------------- */

@keyframes wipeOut {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

.white-wipe-out {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 9;
  transform-origin: left; /* start animacji od prawej */
  animation: wipeOut 1.8s ease-in forwards;
}
.grey-wipe-out {
  position: absolute; /* w granicach rodzica */
  inset: 0;
  background: #f9fafb;
  z-index: 5;
  transform-origin: left; /* start animacji od prawej */
  animation: wipeOut 0.7s ease-out forwards 1.3s;
}
.grey-wipe {
  position: absolute; /* w granicach rodzica */
  inset: 0;
  background: #f9fafb;
  z-index: 9;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out; /* szybkie wejście */
}
.grey-wipe.show {
  transform: translateX(0); /* wjeżdża */
}
.grey-wipe.hide {
  transform: translateX(100%); /* wyjeżdża */
}

/* Text animations */

@keyframes slide-down {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100px);
    opacity: 1;
  }
}

.slide-down-animation {
  animation: slide-down 1.6s ease-in-out forwards 1s;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-100px);
    opacity: 1;
  }
}

.slide-up-animation {
  animation: slide-up 1.6s ease-in-out forwards 1s;
}

.slide-up-animation-2s {
  animation: slide-up 1.6s ease-in-out forwards 1.5s;
}
.slide-up-animation-3s {
  animation: slide-up 1.6s ease-in-out forwards 2s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeInRight 1.6s ease-out forwards 0.6s;
}

/* H1 animation */

h1 span {
  display: inline-block;
  opacity: 0;

  animation: fadeIn 1.2s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}
h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}

/* line animation */

@keyframes line-fade {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.line-fade-animation {
  transform-origin: left;
  animation: line-fade 1s ease-in-out forwards;
}
